/* winloss.css */

.win-card, .loss-card {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
  }
  
  .win-card button, .loss-card button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .win-card button:hover, .loss-card button:hover {
    background-color: #45a049;
  }
  
  .win-card p, .loss-card p {
    font-size: 38px;
    margin-bottom: 20px;
  }
  